@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none; 
}

.link{
    text-decoration: underline;
    color:rgb(33, 123, 119); 
    
}

.t{
    color: rgb(4, 4, 12) ;

}


img{
    width:100% ;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
    background-color: rgb(134, 80, 53);
    height: 10%;
}

.login {
    margin-top: 4.5%;
    width: 27%;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    border-color: black;
    background-color: rgb(246, 206, 9);
    
}

body{
    height: 10vh;
    display: flex;
    justify-content: center;
    background-image: url(image/img1000.jpg);
    
}



h1{
    color: white ;
    -webkit-text-stroke: 2px black;
    text-align: center;}
    
    
 .logo{
    width: 60px;
    padding-top: 10px;
 }

.navbar{
    display: flex; 
}

.navbar a{
    padding: 8px 17px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.header-icons {
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    text-align: center;
    column-gap: 0.8rem;
}

.header-icons button{
    width: 50px;
    color: white;
    background-color: rgb(255, 174, 0);
    border-radius: 9999px;
}

.header-icons button:hover{
  background-color: rgb(241, 60, 60);
}

.navbar a:hover{
    background-color: rgb(255, 174, 0);
    border-radius: 0.2rem;
    transition: 0.1s all linear;
}

#menu-icon{
    color: white;
    font-size: 240px;
    cursor: pointer;
    display: none;
    z-index: 100001;
}

#search-input{
    border-radius: 500px;
    padding: 8px; 
    color: black;
}
.form-label {
    margin-top: 50%;
}
.form-control{
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 2%;
    width: 90%;
}

  @media(max-width:1700px){
    header{
        padding: 7px 30px;
    }
    
    .logo{
        padding-top: 10px;
    }
    
    .navbar a{
        padding: 15px 10px;
        font-size: 1.15rem;
        font-weight: 500;
        margin-left: 10px;
    }
    
    .header-icons {
        font-size: 22px;
        column-gap: 0.8rem;
    }
    
    .header-icons button{
        width: 55px;
    }
    
    #menu-icon{
        font-size: 18px;
    }
    
    .search-box input{
        padding: 15px;
        font-size: 0.8rem;
    }
    
    .search-box input::placeholder{
        font-size: 0.8rem;
        font-weight: 500;
    }
}

@media(max-width:1300px){
    header{
        padding: 6px 25px;
    }
    
    section{
        padding: 25px 70px;
    }
    
    .logo{
        padding-top: 8px;
    }
    
    .header-icons {
        font-size: 15px;
        column-gap: 0.6rem;
    }
    
    .header-icons button{
        width: 40px;
    }
    
    
    #menu-icon{
        font-size: 15px;
    }
    
    .search-box input{
        padding: 12px;
        font-size: 0.6rem;
    }
    
    .search-box input::placeholder{
        font-size: 0.6rem;
        font-weight: 400;
    }
}

@media(max-width:1200px){
    header{
        padding: 4px 20px;
    }
    
    section{
        padding: 20px 50px;
    }
    
    .logo{
        padding-top: 6px;
    }
    
    .header-icons {
        font-size: 1px;
        column-gap: 0.6rem;
    }
    
    .header-icons button{
        width: 40px;
    }
    
    
    #menu-icon{
        font-size: 15px;
    }
    
    .search-box input{
        padding: 12px;
        font-size: 0.6rem;
    }
    
    .search-box input::placeholder{
        font-size: 0.6rem;
        font-weight: 400;
    }
}

@media(max-width:1090px){
    header{
        padding: 4px 18px;
    }
    
    section{
        padding: 20px 50px;
    }
    
    .logo{
        width: 50px;
        padding-top: 5px;
    }
       
    .navbar a{
        font-size: 0.9rem;
        font-weight: 500;
    }
    
    .search-box input{
        padding: 10px;
        font-size: 0.5rem;
    }
    
    .search-box input::placeholder{
        font-size: 0.5rem;
        font-weight: 300;
    }
}

@media(max-width:1000px){
    header{
        padding: 4px 18px;
    }
    
    section{
        padding: 20px 50px;
    }
    
    .logo{
        width: 50px;
        padding-top: 5px;
    }
    
    #menu-icon{
        font-size: 14px;
    }
    
    .search-box input{
        padding: 10px;
        font-size: 0.5rem;
    }
    
    .search-box input::placeholder{
        font-size: 0.5rem;
        font-weight: 400;
    }
}

@media(max-width:955px){
    #abouticon{
        display: none;
    }
    
    .logo{
        width: 45px;
        padding-top: 5px;
    }
}

@media(max-width:870px){
    #reviews{
        display: none;
    }

    .logo{
        width: 45px;
        padding-top: 5px;
    }
    
    .navbar a{
        padding: 5px 10px;
        font-size: 0.9rem;
        font-weight: 400;
    }
}

@media(max-width:820px){
    #join{
        display: none;
    }

    .logo{
        width: 45px;
        padding-top: 5px;
    }
    
    .navbar a{
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: 400;
    }
}

@media(max-width:800px){
    .logo{
        width: 45px;
        padding-top: 5px;
    }
    
}

@media(max-width:770px){
    .logo{
        width: 45px;
        padding-top: 5px;
    }
    
    .navbar a{
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: 400;
    }
}

@media(max-width:700px){
    .header-icons input{
    display: none;
    }

    #join{
        display:block;
    }
    
    .logo{
        width: 45px;
        padding-top: 5px;
    }
    
    .navbar a{
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: 400;
    }

    .header-icons {
        font-size: 52px;
        cursor: pointer;
        z-index: 1000;
        display: flex;
        column-gap: 0.8rem;
        height: 60%;
    }
}

@media(max-width:620px){
    .header-icons input{
    display: none;
    }

    .logo{
        width: 45px;
        padding-top: 5px;
    }
    
    .navbar a{
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: 400;
    }
}

@media(max-width:590px){
    #join{
        display: none;
    }

    .logo{
        width: 45px;
        padding-top: 5px;
    }
    
    .navbar a{
        padding: 5px 7px;
        font-size: 0.9rem;
        font-weight: 400;
    }
}

@media(max-width:500px){
    #home{
        display: none;
    }
    
    .logo{
        width: 45px;
        padding-top: 5px;
    }
    
    .navbar a{
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: 400;
    }
}



