body {
    background-image:url("https://github.com/YoussefSahnoun/doodle-images/blob/main/background%203.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffc83c;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

main {
    display: flex;
    flex-direction: row;

}
.left-box{
    margin-top: 100px;
}
.leaderboard-container,.left-box {
    flex:1;
    width:400px;


}
.game-container{
    margin-top:100px;
    width:400px;
}

.leaderboard-container {


}

.leaderboard-container h2 {
    color: #c8ffff;
    margin-top: 25px;
    margin-left:200px;
}

.leaderboard-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leaderboard-container ul li {
    color: #fdf5a8;
    margin-left:205px;
    margin-bottom: 1rem;
}
.right-arrow-img{
    margin-left: 100px;
}
body {
    height: 100%;
}


.leaderboard-container {


}

table {
    margin-left: 100px;
    margin-top: 100px;
    width: 400px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,900;1,400;1,500;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
}


.logo{
    width:100% ;
}

body{
    color: black;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 100px;
    transition: 0.5s linear;
    background-color: rgb(134, 80, 53);
    height: 9%;
}

section{
    padding: 50px 100px;
}

.logo{
    width: 50px;
    padding-top: 0px;
}

.navbar{
    display: flex;
    padding-top: 50px;
    padding: 20px 17px;
    column-gap: 1.5rem;


}

.navbar a{
    padding: 10px 10px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    font-weight: 800;
    padding-top: 2px;
    -webkit-text-stroke: 1px black;

}

.navbar a:hover{
    background-color: rgb(255, 174, 0);
    border-radius: 0.2rem;
    color: white;
    transition: 0.1s all linear;
}

.header-icons {
    font-size: 15px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    column-gap: 0.8rem;
}

.header-icons button{
    width: 50px;
    color: white;
    background-color: rgb(255, 174, 0);
    border-radius: 9999px;
}

.header-icons button:hover{
    background-color: rgb(241, 60, 60);
}

#menu-icon{
    color: white;
    font-size: 240px;
    cursor: pointer;
    display: none;
    z-index: 100001;
}

.search-box{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    width: 100%;
    border: #8a6f4d solid;
}

.search-box.active{
    top: 110%;
}

.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: rgba(38, 7, 7, 0.075);
}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}
