@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,900;1,400;1,500;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
}

body{
    background-color: #fffff0 !important;
}

img{
    width:100% ;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 100px;
    transition: 0.5s linear;
    background-color: rgb(134, 80, 53);
    height: 9%;
}

.logo{
    width: 50px;
    padding-top: 0px;
}

.logo img{
    border-radius: 50%;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 40% 17px;
    column-gap: 0.4rem;
}

.navbar a{
    padding: 10px 10px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    font-weight: 400;
    padding-top: 2px;
    margin-top: 20%;
}

.navbar a:hover{
    background-color: rgb(255, 174, 0);
    border-radius: 0.2rem;
    color: white;
    transition: 0.1s all linear;
}

.navbar li{
    margin-top: 3%;
}

.header-icons {
    font-size: 15px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    column-gap: 0.8rem;
}

.header-icons button{
    width: 50px;
    color: white;
    background-color: rgb(255, 174, 0);
    border-radius: 9999px;
}

.header-icons button:hover{
    background-color: rgb(241, 60, 60);
}

#menu-icon{
    color: white;
    font-size: 240px;
    cursor: pointer;
    display: none;
    z-index: 100001;
}

.search-box{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    width: 100%;
    border: #8a6f4d solid;
}

.search-box.active{
    top: 110%;
}

.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: rgba(38, 7, 7, 0.075);
}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

.container{
    width: 60%;
    padding: 45px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h4{
    color:rgb(176, 73, 17) !important;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}

.row{
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}

.col-md-7{
    padding: 25px;
    background-color: #ffffff;
}

.col-md-5{
    background-color: #ffffff;
    padding: 25px;
    color: white;
}

.form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 10px;
}

.form-label{
    text-align: center;
}

.btn{
    outline: none;
    font-weight: 500;
    font-size: 20px;
    border: 0  ;
    border-radius: 30px;
}

#submit{
    display: inline-block;
    background-color: rgb(176, 73, 17);
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 150px;
    margin-left: 200px;
}
      
#submit:hover {
    background-color: rgb(255, 145, 0);
}


.img {
    width: 300px;
    height:200px;
    position: relative;
}
  
.img img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    max-width: 100%;
    margin-left: 28%;
    margin-top: 12%;
    height: 200%;
    border-radius: 10px;
}
  
.image-1 {
    clip-path: polygon(0 0, 0 50%, 50% 0);
    transform: translate(-25px, -8px);
    transition: transform 300ms ease;
    transform-origin: top;
}
  
.img:hover .image-1 {
    transform: translate(0, 0);
}
  
.image-2 {
    clip-path: polygon(45% 0, 0 45%, 0 100%, 4% 100%, 96% 0);
    transform: translate(-20px, 20px);
    transition: transform 300ms ease;
}
  
.img:hover .image-2 {
    transform: translate(0, 0);
}
  
.image-3 {
    clip-path: polygon(100% 0, 100% 35%, 46% 100%, 4% 100%, 95% 0);
    transform: translate(5px, 5px);
    transition: transform 300ms ease;
}
  
.img:hover .image-3 {
    transform: translate(0, 0);
}
  
.image-4 {
    clip-path: polygon(100% 35%, 45% 100%, 100% 100%);
    transform: translate(12px, 15px);
    transition: transform 300ms ease;
    transform-origin: top;
}
  
.img:hover .image-4 {
    transform: translate(0, 0);
}