@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,900;1,400;1,500;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
}

body{
    background-color: #fffff0 !important;
}

img{
    width:100% ;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 100px;
    transition: 0.5s linear;
    background-color: rgb(134, 80, 53);
    height: 9%;
}

.logo{
    width: 50px;
    padding-top: 0px;
}

.logo img{
    border-radius: 50%;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 40% 17px;
    column-gap: 0.4rem;
}

.navbar a{
    padding: 10px 10px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    font-weight: 400;
    padding-top: 2px;
    margin-top: 20%;
}

.navbar a:hover{
    background-color: rgb(255, 174, 0);
    border-radius: 0.2rem;
    color: white;
    transition: 0.1s all linear;
}

.navbar li{
    margin-top: 3%;
}

.header-icons {
    font-size: 15px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    column-gap: 0.8rem;
}

.header-icons button{
    width: 50px;
    color: white;
    background-color: rgb(255, 174, 0);
    border-radius: 9999px;
}

.header-icons button:hover{
    background-color: rgb(241, 60, 60);
}

#menu-icon{
    color: white;
    font-size: 240px;
    cursor: pointer;
    display: none;
    z-index: 100001;
}

.search-box{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    width: 100%;
    border: #8a6f4d solid;
}

.search-box.active{
    top: 110%;
}

.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: rgba(38, 7, 7, 0.075);
}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: url(images/img1000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,40rem));
    gap: 1.5rem;
}
.sbaaa{

    background: url(images/back001.jpg);

}

.home-text h1{
    font-family: 'Kanit', sans-serif; 
    font-size: 100px;
    color: rgb(197, 212, 201);
    padding: 0px;
    -webkit-text-stroke: 2px black;
    text-shadow: 5px 5px 0px black;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-top: 120px;
    padding-left: 140px;
    text-align: center;

}
/* aaaaaaaaaaaaaaaa*/
body{

	background-color: #eee;
}

/* Basic Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  .container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
  }
  
  /* Columns */
  .left-column {
    width: 65%;
    position: relative;
  }
  
  .right-column {
    width: 35%;
    margin-top: 60px;
  }
  
  
  /* Left Column */
  .left-column img {
    width: 62%;
    position: absolute;
    right: 35%;
    top: 15%;
    border-radius: 8px;
    height: 520px;

  }
  
  .left-column img.active {
    opacity: 1;
  }
  
  
  /* Right Column */
  
  /* Product Description */
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 5px;
  }
  .product-description span {
    font-size: 20px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 35px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 15px;
    font-weight: 300;
    color: #86939E;
    line-height: 20px;
  }
  
  /* Product Configuration */
  .product-color span,
  .Coffee-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  /* Product Color */
  .product-color {
    margin-bottom: 30px;
  }
  
  .color-choose div {
    display: inline-block;
  }
  
  .color-choose input[type="radio"] {
    display: none;
  }
  
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
  
  .color-choose input[type="radio"]#red + label span {
    background-color: #C91524;
  }
  .color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
  }
  .color-choose input[type="radio"]#black + label span {
    background-color: #323232;
  }
  
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(images/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Coffee Configuration */
  .Coffee-choose {
    margin-bottom: 20px;
  }
  
  .Coffee-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 12px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;

  }
  
  .Coffee-choose button:hover,
  .Coffee-choose button:active,
  .Coffee-choose button:focus {
    border: 2px solid #773737;
    outline: none;
  }
  
  .Coffee-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  
  .Coffee-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 0px 0;
    display: inline-block;
  }
  .Coffee-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }
  
  /* Product Price */   
  .product-price {
    display: flex;
    align-items: center;
  }
  
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  
  .cart-btn {
    display: inline-block;
    background-color: rgb(134, 80, 53);
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: rgb(255, 145, 0);
    color: #FFFFFF;
  }
  
  /* Responsive */
  @media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .left-column,
    .right-column {
      width: 100%;
    }
  
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
  .text-muted {
    color: rgb(108, 117, 125) !important;
    text-decoration: line-through;
  }