@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,900;1,400;1,500;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #FFD333;
    --secondary: #F5F5F5;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #FFFFFF;
    --dark: #3D464D;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Roboto", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
}

body{
    background-color: #fffff0 !important;
}

img{
    width:100% ;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 100px;
    transition: 0.5s linear;
    background-color: rgb(134, 80, 53);
    height: 9%;
}

.logo{
    width: 50px;
    padding-top: 0px;
}

.logo img{
    border-radius: 50%;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 40% 17px;
    column-gap: 0.4rem;
}

.navbar a{
    padding: 10px 10px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    font-weight: 400;
    padding-top: 2px;
    margin-top: 20%;
}

.navbar a:hover{
    background-color: rgb(255, 174, 0);
    border-radius: 0.2rem;
    color: white;
    transition: 0.1s all linear;
}

.navbar li{
    margin-top: 3%;
}

.header-icons {
    font-size: 15px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    column-gap: 0.8rem;
}

.header-icons button{
    width: 50px;
    color: white;
    background-color: rgb(255, 174, 0);
    border-radius: 9999px;
}

.header-icons button:hover{
    background-color: rgb(241, 60, 60);
}

#menu-icon{
    color: white;
    font-size: 240px;
    cursor: pointer;
    display: none;
    z-index: 100001;
}

.search-box{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    width: 100%;
    border: #8a6f4d solid;
}

.search-box.active{
    top: 110%;
}

.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: rgba(38, 7, 7, 0.075);
}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

nav.breadcrumb {
    padding: 5px 30px;
    background-color: #fcfcfc;
    border-radius: 7px;
    outline-color: #8a6f4d;
    outline-width: 01px;
    outline-style: solid;
    text-align: center;
    align-items: center;
    
  }
.breadcrumb ol{
    margin-top: 10px;
    font-size: 20px;
    text-decoration: solid;
    font-weight: 500;
}
  .breadcrumb-item a{
    color: rgb(134, 80, 53);
    text-decoration: solid;

}
.breadcrumb-item a:hover{
    color: rgb(134, 80, 53);
    text-decoration: solid;

}
.breadcrumb-item li{

    color :rgb(134, 80, 53);
    text-decoration: solid;
    margin: 0 .25rem;
    padding: 1rem;

}
li.breadcrumb-item:hover{
    color: #8a6f4d;
    text-decoration: solid;

}



.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

span.bg-secondary{
    color :#fcfcfc;
    background-color: #8a6f4d!important;
    border-radius: 0px;    
    
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}
.bg-light {
    background-color: #f8f9fa!important;
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
    border-radius: 10px;
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #c17c7c!important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  accent-color: rgb(134, 80, 53);
}

.text-decoration-none {
    text-decoration: none !important;
    color: rgb(134, 80, 53);
}
.text-decoration-none:hover {
    text-decoration: none !important;
    color: rgb(255, 174, 0);
}


.text-muted {
    color: rgb(108, 117, 125) !important;
    text-decoration: line-through;
}

.product-offer {
    position: relative;
    overflow: hidden;
  }
  
  .product-offer img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
  }
  
  .product-offer:hover img {
    transform: scale(1.2) rotate(5deg);
  }
  
  .product-offer .offer-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(115, 91, 71, 0.5);
    z-index: 1;
  }
  
  .cat-item {
    background: #FFFFFF;
    transition: .5s;
  }
  
  .cat-item:hover {
    background: #FFD333;
  }
  
  .cat-item img {
    transition: .5s;
  }
  
  .cat-item:hover img {
    transform: scale(1.2) rotate(5deg);
  }
  
  .product-item {
    transition: .5s;
  }
  
  .product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border-radius: 10px;
  }
  
  .product-action a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
  }
  
  .product-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
  }
  
  .product-item:hover .product-action {
    background: rgba(255, 255, 255, 0.7);
  }
  
  .product-item:hover .product-action a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
  }
  
  .product-item:hover .product-action a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
  }
  
  .product-item:hover .product-action a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
  }
  
  .product-item:hover .product-action a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
  }
  
  .product-item .product-img img {
    transition: .5s;
    border-radius: 10px;
  }
  
  .product-item:hover .product-img img {
    transform: scale(1.2);
    border-radius: 10px;

  }
  .product-item:hover .product-img img:hover {
    transform: scale(1.2);
    border-radius: 10px;

  }
  .product-item .product-img img:hover {
    transition: .5s;
    border-radius: 10px;
  }
  
  .product-item .btn:hover {
    color: rgb(255, 174, 0) !important;
  }

  .btn-outline-dark {
    color: rgb(134, 80, 53) !important;
    border-color: rgb(134, 80, 53) !important;
}
.btn-outline-dark:hover {
    background-color: rgb(134, 80, 53) !important;
    border-color: rgb(134, 80, 53) !important;
}

.text-primary small {
    color: rgb(255, 174, 0) !important;
}
.position-relative {
    position: relative!important;
    border-radius: 10px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    text-align: center;
    background-color: rgb(134, 80, 53)!important;
    border-color: rgb(134, 80, 53)!important;
}
.page-item.active .page-link:hover{
    z-index: 3;
    color: #fff;
    background-color: rgb(255, 174, 0)!important;
    border-color: rgb(255, 174, 0)!important;;
}
#next.page-link{
    text-align: center;
    font-weight: 600;
    color :rgb(134, 80, 53)!important;
}